* {
	margin: 0px;
	padding: 0px;
    border: box-border;
    background-color: white;
}

.topHeader {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 60px;
	background-color: white;
}

.topHeader ul {

}

.topHeader ul li {
    display: inline-block;
    padding: 7px 10px;
    background-color: white;
    margin-left: 5px;
    float: right;
    cursor: pointer;
}

.topHeader ul {
	width: 100%;
}

.theFooter > ul li {
	display: block;
	padding: 10px;
	color: white;
	background-color: black;
}

.theFooter ul {
	background-color: black;
}

.theFooter p {
	background-color: black;
	color: white;
	text-align: center;
}

.theFooter {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: black;
}

.theHead {
	height: 600px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-color: #fafafa;
}








