* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    background-color: white;
}

.topHeader {
	padding-top: 30px;
	padding-bottom: 60px;
	background-color: black;
}

.headCover h1 {
	background-color: transparent;
	text-align: center;
	color: white;
	margin-top: 10px;
	font-size: 90px;
	width: 100%;
}

.headCover h3 {
	padding: 30px;
	background-color: white;
	border-radius: 5px;
	border: none;
	margin-right: auto;
	margin-left: auto;
	font-size: 60px;
	color: purple;
	width: 170px;
	padding-left: 45px;
	height: 125px;
	margin-top: 200px;
	font-weight: bold;
}

.headCover p {
	color: white;
	font-size: 50px;
	text-align: center;
}

.headCover {
	background-color: transparent;
}

.theHead {
	background-position: center;
	background-size: cover;
}

.theHead p {
	background-color: transparent;
}

.topHeader ul li {
    display: inline-block;
    padding: 7px 10px;
    background-color: black;
    margin-left: 5px;
    float: right;
    cursor: pointer;
    color: white;
}

.topHeader ul {
	width: 100%;
}

.theFooter > ul li {
	display: block;
	padding: 10px;
	color: white;
	background-color: black;
}

.theFooter ul {
	background-color: black;
}

.theFooter p {
	background-color: black;
	color: white;
	text-align: center;
}

.theFooter {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: black;
}

.theHead {
	height: 900px;
}

.coarse {
	margin-top: 30px;
	background-color: white;
	margin-left: 10%;
}

.bkImage {
	height: 200px;
	background-size: cover;
	background-position: center;
}

.cont {
	width: 270px;
	margin-left: 50px;
    border: 1px solid black;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: cyan;
}

.certifications {
	background-color: purple;
}

li {
	list-style-type: none;
}








